egs/must_c/_NOTES.md
*.DS_Store
.vscode/.ropeproject/objectdb
*.vscode
egs/must_c/st_multilingual/conf/tuning/*
egs/must_c/st_multilingual/conf/_*
egs/must_c/st_multilingual/slurm/*
egs/must_c/st_multilingual/tools/*
egs/must_c/st_multilingual/_*.md
egs/must_c/st_multilingual/*upload*
egs/must_c/st_multilingual/*.slurm

egs/europarl_st
egs/europarl_st/*